# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../:\study-deep-learning-from-scratch\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
